# Environment variables
.env

# Dependencies
node_modules/

# Production builds
dist/
build/
release/
out/

# Electron packaged apps
*.app
*.dmg
*.exe
*.deb
*.rpm
*.AppImage
*.snap
*.tar.gz
*.zip

# Temporary folders
tmp/
